<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Cinchcast.Framework" version="1.1.0.13316" targetFramework="net40" />
  <package id="Cinchcast.Framework.DependencyInjection.Autofac" version="1.1.0.13316" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.621" targetFramework="net40" />
  <package id="Seterlund.CodeGuard" version="2.2.7" targetFramework="net40" />
</packages>