@model HomeIndexViewModel

<h2>title</h2>

<select id="category" name="category">
    @foreach (var category in Model.Categories)
    {
        <option value="@category.GenreUrl">@category.GenreDescription</option>
    }
</select>

<div id="list">
    @Html.Partial("List", Model.CategoryTopics)
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#category").change(function () {
            location.href = '@Url.Action("Index", new { page = 1 })&category=' + this.value;
        });
    </script>
}
